@font-face {
    font-family: 'rubber biscuit';
    font-style: normal;
    font-weight: normal;
    src: url('/fonts/Rubber Biscuit.eot'); /* IE9 Compat Modes */
    src: url('/fonts/Rubber Biscuit.woff') format('woff'), /* Modern Browsers */
         url('/fonts/Rubber Biscuit.ttf') format('truetype'), /* Safari, Android, iOS */
  }